body {
	display: flex;
	background-color: darkcyan;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}
.container{
	display: flex;
	flex-direction: column;
	background-color: rgb(205, 203, 196);
	height: 250px;
	width: 500px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

body .container #heading{
	display: flex;
	justify-content: center;
	color: rgb(105, 99, 14);
}

body .container #main{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 15px;
}

body .container button{
	color: rgb(46, 35, 20);
	width: 15vw;
	height: 5vh;
	background-color: aqua;
	border:none;
	border-radius: 5px;
	margin-top: 15px;
}

body .container button:hover{
	cursor: pointer;
}

